body {
    color: #232323;
    background-color: #fff;
}
a{
    color: #232323;
}
select{
    color: #f7f7f7;
    background-color: #232323;
}
.u-formError{
    color: #f00;
}
.u-delete{
    color: #000;
}
.u-delete:hover{
    color: #f00 !important;
}
.logo-main{
    background-image: url('../../images/site/logo.png');
}

.profile-image,
.user-image{
    background-color: #fff;
}
.profile-initials,
.user-initials{
    background-color: #f27307;
    color: #fff;
}
.navMore{
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
}

.navMore a{
    color: #232323;
}
.navMore a:hover{
    color: #f27307;
}

.mainHeader .header-back{
    color: #f27307;
}
.mainHeader .header-title.sticky{
    background-color: #fff;
    border-bottom: 1px solid #e9e9ef;
}
.add-entity{
    background-color: #f27307;
    color: #f7f7f7;
}
.add-entity:hover{
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
}
.add-entity b{
    color: #232323;
}
.add-entity:hover b{
    color: #f7f7f7;
}
.action-btns .add-entity{
    background-color: #fff;
}
.action-btns .add-entity:hover{
    background-color: #1b07f2;
}

.action-edit span{
    background-position: -40px -40px;
}

.action-add-block span{
    background-position: 0px -40px;
}

.action-edit:hover span{
    background-position: -40px 0px;
}

.one-pizza{
    background-color: #fff;
    border: 1px solid #e9e9ef;
    box-shadow: 0px 0px 20px #e9e9ef;
}

.all-blocks .one-block:not(.is-divider){
    background-color: #fff;
    border: 1px solid #e9e9ef;
    box-shadow: 0px 0px 20px #e9e9ef;
}
.block-actions span{
    background-color: #f7f7f7;
    background-image: url('../../images/app/action-icons.png');
}
.block-actions span:hover{
    background-color: #f27307;
}
.block-actions .action-edit-block{
    background-position: -40px -40px;
}
.block-actions .action-edit-theme{
    background-position: -80px -40px;
}
.block-actions .action-discuss{
    background-position: -160px -40px;
}
.block-actions .action-show-responses{
    background-position: -120px -40px;
}
.block-actions .action-edit-ifttt{
    background-position: -240px -40px;
}

.block-actions .action-add-block-below{
    background-position: 0px -40px;
}
.block-actions .action-edit-block:hover{
    background-position: -40px 0px;
}
.block-actions .action-edit-theme:hover{
    background-position: -80px 0px;
}
.block-actions .action-discuss:hover{
    background-position: -160px 0px;
}
.block-actions .action-show-responses:hover{
    background-position: -120px 0px;
}
.block-actions .action-edit-ifttt:hover{
    background-position: -240px 0px;
}

.block-actions .action-add-block-below:hover{
    background-position: 0px 0px;
}
.overlay{
    background-color: rgba(0, 0, 0, 0.9);
}
.overlay-box{
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.new-pizza-box .overlay-form{
    background-image: linear-gradient(#f4d7d7, #ea845f);
    
}
.new-block-box .overlay-form,
.block-theme-box .overlay-form{
    background-image: linear-gradient(#f4d7d7, #ea845f);
}

.overlay-box h2.message{
    color: #232323;
}
.entity-title{
    background-color: #fff;
    color: #232323;
}
.entity-text{
    background-color: #fff;
    color: #232323;
}
.entity-title:focus,
.entity-text:focus{
    border-color: #31eda8;
}
.entity-title.hasError{
    border-color: #f7544c;
}
.new-block-box .entity-title,
.new-block-box .entity-text{
    background-color: #fff;
    color: #232323;
}
.new-block-box .overlay-form .entity-title,
.new-block-box .overlay-form .entity-text,
.block-theme-box .entity-title{
    border-color: #e9e9ef;
}

.overlay-label{
    color: #232323;
}

.entity-btn{
    background-color: #f27307;
    color: #f7f7f7;
}
.entity-btn:hover{
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
}

.entity-done{
    background-color: #232323;
    color: #fff;
}
.form-btn{
    background-color: #1b07f2;
    color: #f7f7f7;
}
.form-btn:hover{
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
}

.overlay-close{
    background-image: url('../../images/site/close-dark.png');
}


.zero-items{
    background-color: #fff;
}
.zero-content .title{
    color: #232323;
}
.zero-content .text{
    color: #232323;
}
.zero-items .zero-image{
    background-image: url(../images/app/empty-cart.png);
}


.loading-text {
    color: #e8712d;
}
.loading-content {
    border: 3px solid #F00;
}
.loading-content:after {
    border: 3px solid #0F0;
}
.loading-content:before {
    border: 3px solid #00F;
}
.loading-content {
    border-top-color: #409fff;
    border-bottom-color: #409fff;
}
.loading-content:before {
    border-top-color: #1b07f2;
    border-bottom-color: #1b07f2;
}
.loading-content:after {
    border-top-color: #31eda8;
    border-bottom-color: #31eda8;
}

.pizza-content{
    display: flex;
}
