/* Font face */
@font-face {
    font-family: 'Back Issues BB';
    src: url('fonts/BackIssuesBB.woff2') format('woff2'),
        url('fonts/BackIssuesBB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* Page CSS */
html{
    position: relative;
    width:  100%;
    height:  100%;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    color: black;
}
*{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}
div, span,
h1, h2, h3, h4, h5, h6, p,
a, img, form, label,footer, header {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    font-weight: normal;
    vertical-align: baseline;
}
body {
    position: relative;
    color: #1A1A1A;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #fff;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: normal;
    line-height: 1.5;
    overflow-x: hidden;
}
a{
    text-decoration: none;
    color: #1A1A1A;
}
input, a, textarea{
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: normal;
    line-height: 1.5;
}
input[type='checkbox'] {
    cursor: pointer;
}
/* Utilities */
.u-hide{
    display: none !important;
}
.u-opaque{
    opacity: 0.5;
}
.u-disabled{
    cursor: not-allowed;
    opacity: 0.5;
}
.u-notransition{
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    -ms-transition: none !important;
    transition: none !important;
}
.u-formError{
    display: none;
    color: #fff;
    font-size: 14px;
    padding: 4px;
}
.u-alignLeft{
    float: left;
}
.u-alignRight{
    float: right;
}
.u-noSelect{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.sectionBox{
    position: relative;
    margin: 0px auto;
    max-width: 1400px;
    padding: 50px 0px;
}
/* Header wrap */
.headerWrap{
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.headerWrap .sectionBox{
    margin-top: 0px;
    height: 150px;
}
.logo-main{
    position: absolute;
    left: 25px;
    top: 35px;
    width: 80px;
    height: 80px;
}
.logo-main img{
    width: 100%;
}
.nav{
    position: absolute;
    right: 135px;
    top: 59px;
}
.navBar{
    position: absolute;
    right: 25px;
    top: 50px;
}
.nav a{
    background-color: #fff;
    color: #f27307;
    padding: 9px 30px 8px;
    font-weight: 600;
    font-size: 14px;
}
.navBar a{
    display: inline-block;
    background-color: #f27307;
    color: #fff;
    padding: 9px 30px 8px;
    font-weight: 600;
    font-size: 14px;
    border-radius: 10px;
}

.navBar a:hover, .nav a:hover{
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
    color: #fff;
    background-color: #f56009;
}
.navBar .link-signup{
    background-color: #f27307;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.navbar .cart{
    padding: 9px 30px 8px !important;
}

.navBar .link-login{
    margin-right: 10px;
}
.navBar .link-about{
    background-color: transparent;
    color: #fff;
}
/* Main wrap */
.mainWrap{
    position: absolute;
    top: 150px;
    bottom: 0px;
    width: 100%;
    padding: 20px;
}
/* Main header */
.mainHeader .sectionBox{
    padding: 80px 40px;
}
.mainHeader .header-title,
.mainHeader .header-now,
.mainHeader .header-back{
    font-family: 'IBM Plex Serif', serif;
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 5px;
}
.mainHeader .header-seperator{
    margin: 0px 5px;
}
.mainHeader .header-back{
    color: #f27307;
}
.mainHeader .header-title.sticky{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 60px;
    padding: 0px 50px;
    font-size: 20px;
    line-height: 60px;
    background-color: #fff;
    overflow-y: hidden;
    z-index: 5;
}
.mainHeader .header-title.sticky .header-now,
.mainHeader .header-title.sticky .header-back,
.mainHeader .header-title.sticky .header-seperator{
    font-size: 20px;
    line-height: 60px;
}
.mainHeader .header-desc{
    font-size: 18px;
    max-width: 600px;
}
.one-pizza{
    position: relative;
    display: block;
    width: 100%;
    height: 400px;
    background-color: #fff;
    padding: 50px;
    border-radius: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #e9e9ef;
    box-shadow: 0px 0px 20px #e9e9ef;
}

/* Blocks */
.all-blocks{
    position: relative;
    text-align: center;
}
.all-blocks .one-block:not(.is-divider) {
    background-color: #fff;
    border: 1px solid #e9e9ef;
    box-shadow: 0px 0px 20px #e9e9ef;
}
.one-block{
    position: relative;
    display: inline-block;
    vertical-align: top;
    padding: 0px;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 65%;
}

.one-block .container-block{
    padding: 20px;
}
.one-block .container-block:after{
    display: block;
    content: '';
    clear: both;
}
.one-block.is-comic .container-block{
    padding: 0px;
}
.one-block .container-block.container-item-block{
    cursor: pointer;
    height: 400px;
}
.one-block .block-table{
    position: relative;
    display: table;
    width: 100%;
}
.one-block .block-type{
    display: table-cell;
    width: 150px;
}
.one-block .block-details{
    position: relative;
    display: table-cell;
    vertical-align: top;
}
.one-block .block-title{
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 10px;
}
.container-content .block-title{
    font-family: 'IBM Plex Serif', serif;
    font-weight: 600;
    font-size: 30px;
    letter-spacing: 0.5px;
}

.one-block .divider-block{
    position: relative;
    display: block;
    padding: 50px 0px;
    border-radius: 0px;
    background-color: #1A1A1A;
}

.one-block .block-options.block-options-left,
.one-block .block-options.block-options-right{
    position: relative;
    width: 50%;
    display: table-cell;
    vertical-align: top;
}
.one-block .block-options.block-options-left{
    border-right: 40px solid transparent;
}
.one-block .block-options.block-options-right{
    border-left: 40px solid transparent;
}
.one-block .block-options > div{
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 200px;
    cursor: pointer;
    margin: 0px 20px 20px 0px;
    background-color: rgba(0,0,0,0.2);
    border-radius: 10px;
}
.one-block .match-options .block-options > div{
    width: auto;
}
.one-block .grid-block .block-options > div{
    width: 400px;
}
.one-block .block-options > div.selected{
    background-color: #fff;
    color: #1A1A1A;
}
.one-block .match-options .block-option{
    display: block;
}
.match-block .match-colors{
    position: absolute;
    left: 10px;
    top: -3px;
    display: block;
}
.match-colors .one-color{
    display: inline-block;
    vertical-align: top;
    height: 7px;
    width: 20px;
    margin-right: 3px;
    cursor: inherit;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.block-options-right .match-colors .one-color:hover{
    cursor: pointer;
    height: 20px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.one-block .block-option .block-details{
    display: block;
    padding: 20px;
}
.one-block .block-option .block-text{
    margin: 0px;
}
.one-block .block-option .block-image{
    display: block;
    width: 200px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.one-block .grid-block .block-option .block-image{
    width: 400px;
    background-repeat: no-repeat;
    background-size: cover;
}
.one-block .block-fills{
    position: relative;
}
.one-block .block-fills .one-fill{
    position: relative;
    display: inline-block;
    margin-bottom: 10px;
}
.one-block .block-fills .blank-fill{
    position: relative;
    display: inline-block;
    width: 200px;
    background-color: rgba(0,0,0,0.2);
    color: #fff;
    margin: 0px 10px 10px 10px;
    padding: 10px;
}
.one-block .response-block .entity-text{
    background-color: transparent;
    color: #fff;
    border: 0px;
    height: 200px;
    padding: 0px;
}
.one-block .fill-block .entity-btn,
.one-block .response-block .entity-btn{
    position: relative;
    display: inline-block;
    left: auto;
    right: auto;
    bottom: auto;
    width: auto;
    padding: 9px 50px 8px;
    font-size: 14px;
    margin-right: 20px;
}
.one-block .file-response .drop-area{
    width: 100%;
    max-width: 400px;
    height: 400px;
    border-color: #5A5A5A;
}
.one-block .file-response .drop-area span{
    color: inherit;
}
.one-block .view-file{
    position: relative;
    left: -20px;
}
.one-block .view-file .block-provider{
    margin: 10px 0px 0px 20px;
}


/* Block art */
.one-block.themed-block a,
.one-block.themed-block .entity-title,
.one-block.themed-block .entity-text{
    color: #1A1A1A !important;
}
.one-block.themed-block .rich-text a{
    border-bottom: 1px dotted #1A1A1A;
}
.one-block.themed-block .rich-text a:hover{
    border-bottom: 1px solid #1A1A1A;
}

/* Block actions */
.one-block .block-actions{
    position: absolute;
    right: 10px;
    top: 10px;
    opacity: 0;
    z-index: 5;
    border-radius: 4px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.one-block .block-actions.only-discuss{
    top: auto;
    bottom: 10px;
    opacity: 1;
}
.one-block:hover .block-actions{
    opacity: 1;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.divider-block:hover  + .block-actions{
    opacity: 0;
}
.block-actions span{
    display: inline-block;
    cursor: pointer;
    vertical-align: top;
    background-color: #151515;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    margin-right: 2px;
    background-image: url('../images/app/action-icons.png');
    background-repeat: no-repeat;
}
.block-actions span:last-of-type{
    margin-right: 0px;
}
.block-actions span:hover{
    background-color: #ffd370;
}
.block-actions .action-discuss{
    background-position: -160px 0px;
}
.block-actions .action-discuss:hover{
    background-position: -160px -40px;
}
/* Overlay */
.overlay{
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 10;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.9);
}
.overlay-box{
    position: absolute;
    display: table;
    top: 15%;
    left: 50%;
    width: 880px;
    height: auto;
    padding: 0px;
    margin-left: -440px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
    opacity: 0;
    -webkit-transform: translateY(5%);
    -moz-transform: translateY(5%);
    -ms-transform: translateY(5%);
    transform: translateY(5%);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.overlay-box.animate{
    opacity: 1;
    -webkit-transform: translateY(-5%);
    -moz-transform: translateY(-5%);
    -ms-transform: translateY(-5%);
    transform: translateY(-5%);
}
/* Overlay form */
.overlay-form{
    position: relative;
    display: table-cell;
    width: 440px;
    padding: 20px;
    vertical-align: top;
}
.login-box .overlay-form{
    background-image: linear-gradient(#57757B, #476066);
}
.signup-box .overlay-form{
    background-image: linear-gradient(#336081, #5E8AAB);
}
.forgot-box .overlay-form{
    background-image: linear-gradient(#625A71, #827897);
}
.terms-box .overlay-form{
    width: 880px;
    background-image: linear-gradient(#336081, #5E8AAB);
}
.overlay-form h2.message{
    color: #fff;
    font-family: 'IBM Plex Serif', serif;
    font-weight: 600;
    font-size: 30px;
    letter-spacing: 0.5px;
    margin: 10px 0px 20px;
}
.form--modal {
    margin: 0 auto;
    width: 100%;
}
.form--modal > div {
    position: relative;
}
.input{
    width: 100%;
    font-size: 16px;
    background-color: #fff;
    padding: 14px;
    color: #1A1A1A;
    margin-bottom: 10px;
    border: 2px solid transparent;
    outline: none;
    border-radius: 4px;
}
.input:focus{
    border-color: #31eda8;
}
.input.hasError{
    border-color: #f7544c;
}
.show-password{
    position: absolute;
    right: 10px;
    bottom: 24px;
    background-color: #1A1A1A;
    padding: 3px 10px;
    font-size: 12px;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
}
.show-password.active{
    background-color: #409fff;
}
.form-action{
    margin-bottom: 10px;
}
.form-action:after{
    content: "";
    display: table;
    clear: both;
}
.label{
    font-size: 14px;
    color: #fff;
    cursor: pointer;
}
.label b{
    font-weight: 600;
}
.label b a{
    font-weight: 600;
    padding-bottom: 2px;
    border-bottom: 1px solid #fff;
}
.link--grey{
    font-size: 14px;
    color: #fff;
}
.link--grey:hover{
    color: #ffd370;
}
.btn-submit{
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background-color: #ffd370;
    color: #1A1A1A;
    margin-top: 10px;
    padding: 15px 20px 14px;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    letter-spacing: .025em;
    outline: none;
    border: 0px;
    border-radius: 4px;
    cursor: pointer;
    -webkit-appearance: none;
}
.btn-submit:hover{
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
}
.overlay-form .reset-message{
    position: relative;
    margin-top: 16px;
    font-size: 14px;
    color: #fff;
}
/* Overlay about */
.overlay-about{
    position: relative;
    display: table-cell;
    width: 440px;
    padding: 20px;
}
.login-box .overlay-about{
    background-image: linear-gradient(#9DACA3, #B2C3B9);
}
.signup-box .overlay-about{
    background-image: linear-gradient(#7CA8C7, #9CBAD5);
}
.forgot-box .overlay-about{
    background-image: linear-gradient(#C8B0F9, #D9C9F3);
}
.terms-box .overlay-about{
    display: none;
}
.overlay-art{
    position: relative;
    margin-bottom: 20px;
    width: 400px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
}
.login-box .overlay-art{
    background-image: url(../images/site/graphic-login.png);
}
.signup-box .overlay-art{
    background-image: url(../images/site/graphic-signup.png);
}
.forgot-box .overlay-art{
    background-image: url(../images/site/graphic-forgot.png);
}
.overlay-about .message{
    margin-bottom: 10px;
    font-size: 16px;
    color: #1A1A1A;
}
.overlay-about .overlay-btn{
    display: inline-block;
    background-color: #1A1A1A;
    color: #fff;
    padding: 9px 30px 8px;
    font-weight: 600;
    font-size: 16px;
    border: 1px solid #1A1A1A;
    border-radius: 4px;
}
.overlay-close{
    cursor: pointer;
    position: absolute;
    z-index: 2;
    top: 20px;
    right: 20px;
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url('../images/site/close.png');
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 4px;
}
/* Terms */
.terms-text p{
    font-size: 14px;
    margin-bottom: 10px;
}
.terms-text b{
    font-weight: 600;
}
.terms-text ul{
    font-size: 14px;
    padding-left: 40px;
    margin-bottom: 10px;
}
.terms-text li{
    margin-bottom: 5px;
    font-size: 14;
}
/* Overlay form */
.entity-title{
    width: 100%;
    font-size: 16px;
    background-color: #fff;
    padding: 14px;
    color: #1A1A1A;
    margin-bottom: 10px;
    border: 2px solid transparent;
    outline: none;
    border-radius: 4px;
}
.entity-text{
    position: relative;
    width: 100%;
    font-size: 16px;
    height: 100px;
    background-color: #fff;
    box-shadow: none;
    padding: 14px;
    border: 2px solid transparent;
    border-radius: 4px;
    outline: none;
    color: #1A1A1A;
    -webkit-appearance: none;
    resize: none;
    overflow-x: hidden;
    overflow-y: auto;
}
.entity-title:focus,
.entity-text:focus{
    border-color: #31eda8;
}
.entity-title.hasError{
    border-color: #f7544c;
}
.entity-btn{
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background-color: #ffd370;
    color: #1A1A1A;
    margin-top: 10px;
    padding: 15px 20px 14px;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    letter-spacing: .025em;
    outline: none;
    border: 0px;
    border-radius: 4px;
    cursor: pointer;
    -webkit-appearance: none;
}
.entity-btn:hover{
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
}
.entity-done{
    position: relative;
    width: 200px;
    background-color: #1A1A1A;
    color: #fff;
    margin-top: 10px;
    padding: 15px 20px 14px;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    letter-spacing: .025em;
    outline: none;
    border: 0px;
    border-radius: 4px;
    cursor: pointer;
    -webkit-appearance: none;
}

/* One item */
.one-item{
    position: relative;
    padding: 15px 0px;
    border-bottom: 1px dotted #5A5A5A;
}

/* Empty state */
.zero-items{
    position: relative;
    height: 400px;
    background-color: #232323;
    padding: 50px;
    border-radius: 20px;
    text-align: center;
}
.zero-items .zero-content{
    position: relative;
    /* width: 400px; */
}
.zero-content .title{
    display: inline-block;
    margin-bottom: 10px;
    color: #fff;
    font-family: 'IBM Plex Serif', serif;
    font-weight: 600;
    font-size: 30px;
    letter-spacing: 0.5px;
}
.zero-content .text{
    color: #fff;
    font-size: 18px;
}
.zero-items .zero-image{
    position: absolute;
    right: 0px;
    top: 0px;
    width: 400px;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-image: url(../images/app/graphic-new.png); */
}

/* Loader */
.loading-wrapper {
    position: relative;
    margin-top: 100px;
}

.loading-text {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    color: #e8712d;
    font-weight: 600;
    font-size: 14px;
    width: 100px;
    height: 30px;
    margin: -7px 0 0 -45px;
    text-align: center;
}
.loading-content {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 170px;
    height: 170px;
    margin: -85px 0 0 -85px;
    border: 3px solid #F00;
}
.loading-content:after {
    content: "";
    position: absolute;
    border: 3px solid #0F0;
    left: 15px;
    right: 15px;
    top: 15px;
    bottom: 15px;
}
.loading-content:before {
    content: "";
    position: absolute;
    border: 3px solid #00F;
    left: 5px;
    right: 5px;
    top: 5px;
    bottom: 5px;
}
.loading-content {
    border: 3px solid transparent;
    border-top-color: #409fff;
    border-bottom-color: #409fff;
    border-radius: 50%;
    -webkit-animation: loader 2s linear infinite;
    -moz-animation: loader 2s linear infinite;
    -o-animation: loader 2s linear infinite;
    animation: loader 2s linear infinite;
}
.loading-content:before {
    border: 3px solid transparent;
    border-top-color: #ffd370;
    border-bottom-color: #ffd370;
    border-radius: 50%;
    -webkit-animation: loader 3s linear infinite;
    -moz-animation: loader 2s linear infinite;
    -o-animation: loader 2s linear infinite;
    animation: loader 3s linear infinite;
}
.loading-content:after {
    border: 3px solid transparent;
    border-top-color: #31eda8;
    border-bottom-color: #31eda8;
    border-radius: 50%;
    -webkit-animation: loader 1.5s linear infinite;
    animation: loader 1.5s linear infinite;
    -moz-animation: loader 2s linear infinite;
    -o-animation: loader 2s linear infinite;
}
@-webkit-keyframes loaders {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes loader {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


.login-btn{
    width: 90% !important;
}

.btn-order{
    background-color: #FE5F1E;
    color: #fff;
    padding: 10px;
    border-radius: 20px;
    border: 2px solid #FE5F1E;
    width: 130px;
    cursor: pointer;
}

.btn-order:hover{
    background-color: #b23301;
}

.home-page{
    position: initial !important;
    top: 115px !important;
    right: 0px;
}

.home-page a{
    color: #fff !important;
}

.order-container{
    text-align: center;
    background-color: #f8f8f8;
    width: 90%;
    margin-left: 60px;
}

.flex-items{
    display: flex;
    align-items: center;
    justify-content: end;
    width: 90%;
    margin: 10px 0px;
}

.flex-items h1{
    font-weight: bold;
    margin-left: 10px;
    font-size: 20px;
}

.flex-items .pizza-image{
    width: 100px;
    margin-left: 130px;
}

.flex-items .pizza-detail{
    margin-left: 15px;
    flex-grow: 1;
}

.flex-items .pizza-quantity{
    flex-grow: 1;
}

.flex-items .pizza-price{
    font-weight: bold;
    font-size: 18px;
}

.align-right{
    text-align: right;
    padding: 15px;
    margin-right: 103px;
}

.align-right .one{
    font-weight: bold;
}

.align-right .two{
    font-weight: bold;
    font-size: 20px;
    color: #f27307;
}

.delivery-details{
    font-size: 16px;
    margin: 10px 0px 10px 5px;
    border: 2px solid #000;
    border-radius: 7px;
    padding: 5px;
    width: 25%;
}

.login-nav{
    position: relative !important;
    top: 0px !important;
    right: 0px !important;
    margin-top: 10px;
}

.order-now{
    padding: 10px 20px !important;
    font-weight: bold;
}

.add-entity{
    display: inline-block;
    padding: 9px 30px 8px;
    font-weight: 600;
    font-size: 14px;
    border-radius: 4px;
    margin-right: 2px;
    vertical-align: top;
}

.add-cart{
    float: right;
    display: block;
    color: #f27307 !important;
    background-color: #fff !important;
    border: 2px solid #f27307 !important;
    border-radius: 20px;
    margin-top: -6px;

}

.add-cart:hover{
    transition: all .3s ease-in-out !important;
    color: #fff !important;
    background-color: #f27307 !important;
    border-color: #fff !important;

}

.pizza-title-name{
    font-family: 'IBM Plex Serif', serif;
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 5px;
    text-transform: capitalize;
}

.pizza-image {
    float: right;
    margin: auto;
}

.block-price {
    float: left;
    font-weight: bolder;
    margin-top: 4px;
}

#cart-counter{
    font-size: 18px;
    font-weight: bold;
}

.cart-block{
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.item-image{
    width: 100px;
    float: left;
    margin-left: 50px;
}

.flex-grow{
    flex-grow: 0.5;
    font-weight: bold;
}