
html{
    position: relative;
    width:  100%;
    height:  100%;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    color: black;
}
*{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}
div, span,
h1, h2, h3, h4, h5, h6, p,
a, img, form, label,footer, header {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    font-weight: normal;
    vertical-align: baseline;
}
body {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: normal;
    line-height: 1.5;
    overflow-x: hidden;
}
a{
    text-decoration: none;
}
input, a, textarea{
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: normal;
    line-height: 1.5;
}
input[type='checkbox'] {
    cursor: pointer;
}
select, .orderType{
    width: 100%;
    height: 51px;
    border-radius: 4px;
    padding-left: 14px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: normal;
    font-size: 16px;
    margin-bottom: 10px;
    -webkit-appearance: none;
}

.orderType{
    color: #000 !important;
    padding-left: 8px !important;
    background-color: #fff !important;
    -webkit-appearance: auto !important;
}

.u-hide{
    display: none !important;
}
.u-opaque{
    opacity: 0.5;
}
.u-transparent{
    opacity: 0;
}
.u-disabled{
    cursor: not-allowed;
    opacity: 0.5;
}
.u-notransition{
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    -ms-transition: none !important;
    transition: none !important;
}
.u-formError{
    display: none;
    font-size: 14px;
    padding: 0px;
    color: red;
}
.u-alignLeft{
    float: left;
}
.u-alignRight{
    float: right;
}
.u-noSelect{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.u-delete{
    font-weight: normal;
    font-size: 14px;
    cursor: pointer;
    float: right;
    margin-top: -36px;
}

.pageWrap{
    position: relative;
    width: 100%;
    height: 100%;
     -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.pageWrap.with-sidebar{
    width: calc(100% - 350px);
    overflow-x: hidden;
    overflow-y: auto;
     -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.sectionBox{
    position: relative;
    margin: 0px auto;
    max-width: 1400px;
    padding: 50px 0px;
}
.headerWrap{
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.headerWrap .sectionBox{
    margin-top: 0px;
    height: 150px;
}
.logo-main{
    position: absolute;
    top: -25px;
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    transform: scale(0.5,0.5);
}


.navProfile{
    position: absolute;
    top: 50px;
    right: 25px;
}
.user-profile{
    right: 120px !important;
}

.profile-initials{
    display: inline-block;
    text-align: center;
}
.navProfile .profile-initials{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
}
.navProfile .profile-initials{
    font-weight: 600;
    font-size: 14px;
    line-height: 42px;
}

.navMore{
    display: none;
    position: absolute;
    right: 20px;
    top: 105px;
    width: 200px;
    border-radius: 4px;
    padding: 5px 0px;
    z-index: 2;
}

.navMore a{
    display: inline-block;
    width: 100%;
    font-weight: 600;
    font-size: 14px;
    padding: 12px 20px;
    text-transform: capitalize;
}


.mainWrap{
    position: absolute;
    top: 150px;
    bottom: 0px;
    width: 100%;
    padding: 20px;
}

.mainHeader .sectionBox{
    padding: 80px 40px;
}
.mainHeader .header-title,
.mainHeader .header-now,
.mainHeader .header-back
{
    font-family: 'IBM Plex Serif', serif;
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 5px;
}
.mainHeader .header-seperator{
    margin: 0px 5px;
}
.mainHeader .header-title.sticky{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 60px;
    padding: 0px 50px;
    font-size: 20px;
    line-height: 60px;
    overflow-y: hidden;
    z-index: 5;
}
.mainHeader .header-title.sticky .header-now,
.mainHeader .header-title.sticky .header-back,
.mainHeader .header-title.sticky .header-seperator{
    font-size: 20px;
    line-height: 60px;
}
.mainHeader .header-desc{
    font-size: 18px;
    max-width: 600px;
}
.add-entity{
    display: inline-block;
    padding: 9px 30px 8px;
    font-weight: 600;
    font-size: 14px;
    border-radius: 4px;
    margin-right: 2px;
    vertical-align: top;
}
.add-entity:last-of-type{
    margin-right: 0px;
}
.add-entity b{
    font-weight: 600;
    font-size: 14px;
    line-height: 40px;
}
.mainHeader .add-entity{
    margin-top: 20px;
}
.action-btns .add-entity{
    padding: 0px 20px;
    height: 40px;
}
.action-btns .add-entity span{
    display: inline-block;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
}

.one-pizza{
    position: relative;
    display: block;
    width: 75%;
    height: 400px;
    padding: 50px;
    border-radius: 20px;
    margin-bottom: 20px;
    margin-left: 165px;
}

.all-blocks{
    position: relative;
    text-align: center;
}
.one-block{
    position: relative;
    display: inline-block;
    vertical-align: top;
    padding: 0px;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 75%;
}

.one-block .container-block{
    padding: 20px;
}
.one-block .container-block:after{
    display: block;
    content: '';
    clear: both;
}

.container-block .block-title{
    font-size: 18px;
    font-weight: bold;
}

.one-block .container-block.container-item-block{
    cursor: pointer;
    height: 400px;
}

.one-block .image-block img{
    max-width: 100%;
    border-radius: 10px;
}

.one-block .block-actions{
    position: absolute;
    right: 10px;
    top: 10px;
    opacity: 0;
    z-index: 5;
    border-radius: 4px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.one-block:hover .block-actions{
    opacity: 1;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.divider-block:hover  + .block-actions{
    opacity: 0;
}
.block-actions span{
    display: inline-block;
    cursor: pointer;
    vertical-align: top;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    margin-right: 2px;
    background-repeat: no-repeat;
}
.block-actions span:last-of-type{
    margin-right: 0px;
}

.overlay{
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 10;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}
.overlay-box{
    position: absolute;
    display: table;
    top: 15%;
    left: 50%;
    width: 880px;
    height: auto;
    padding: 0px;
    margin-left: -440px;
    opacity: 0;
    -webkit-transform: translateY(50px);
    -moz-transform: translateY(50px);
    -ms-transform: translateY(50px);
    transform: translateY(50px);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.overlay-box.animate{
    opacity: 1;
    -webkit-transform: translateY(-50px);
    -moz-transform: translateY(-50px);
    -ms-transform: translateY(-50px);
    transform: translateY(-50px);
}

.overlay-form{
    position: relative;
    display: table-cell;
    width: 440px;
    padding: 20px;
    vertical-align: top;
}

.new-pizza-box .overlay-form{
    padding-bottom: 100px;
}
.new-block-box .overlay-form{
    width: 640px;
}

.overlay-box h2.message{
    font-family: 'IBM Plex Serif', serif;
    font-weight: 600;
    font-size: 30px;
    letter-spacing: 0.5px;
    margin: 10px 0px 20px;
}
.entity-title{
    width: 100%;
    font-size: 16px;
    padding: 14px;
    margin-bottom: 10px;
    border: 2px solid transparent;
    outline: none;
    border-radius: 4px;
}

.overlay-label{
    margin: 15px 0px 5px;
    font-weight: 600;
    font-size: 14px;
}
.overlay-label b{
    font-weight: 600;
}

.entity-btn{
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 20px;
    margin-top: 10px;
    padding: 15px 20px 14px;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    letter-spacing: .025em;
    outline: none;
    border: 0px;
    border-radius: 4px;
    cursor: pointer;
    -webkit-appearance: none;
}
.new-block-box .entity-btn{
    position: relative;
    left: auto;
    right: auto;
    bottom: auto;
    width: 200px;
}

.new-block-area{
    position: relative;
    margin-bottom: 20px;
}

.overlay-about{
    position: relative;
    display: table-cell;
    width: 440px;
    padding: 20px;
}

.new-block-box .overlay-about{
    width: 240px;
    padding: 20px 0px;
}

.sidebarWrap{
    display: none;
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 9;
    width: 350px;
    height: 100%;
}
.sidebarWrap > div{
    position: relative;
    width: 100%;
    height: 100%;
}
.sidebar-box{
    position: absolute;
    display: block;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    padding-top: 50px;
    opacity: 0;
    -webkit-transform: translateX(350px);
    -moz-transform: translateX(350px);
    -ms-transform: translateX(350px);
    transform: translateX(350px);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    overflow-x: hidden;
    overflow-y: auto;
}
.sidebar-box.animate{
    opacity: 1;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
}

.sidebar-box h2.message{
    font-family: 'IBM Plex Serif', serif;
    font-weight: 600;
    font-size: 30px;
    letter-spacing: 0.5px;
    margin: 10px 0px 20px;
}


.overlay-close{
    cursor: pointer;
    position: absolute;
    z-index: 2;
    top: 20px;
    right: 20px;
    display: inline-block;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: 30px 30px;
    border-radius: 4px;
}

.zero-items{
    position: relative;
    height: 400px;
    padding: 50px;
    border-radius: 20px;
}
.zero-items .zero-content{
    text-align: center;
}
.zero-content .title{
    display: inline-block;
    margin-bottom: 10px;
    font-family: 'IBM Plex Serif', serif;
    font-weight: 600;
    font-size: 30px;
    letter-spacing: 0.5px;
}
.zero-content .text{
    font-size: 18px;
}
.zero-items .zero-image{
    position: absolute;
    right: 0px;
    top: 0px;
    width: 400px;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
}

.loading-wrapper {
    position: relative;
    margin-top: 100px;
}
.chart-loader .loading-wrapper{
    margin-top: 0px;
    top: 215px;
}
.loading-text {
    display: block;
    position: absolute;
    color: #e8712d;
    top: 50%;
    left: 50%;
    font-weight: 600;
    font-size: 14px;
    width: 100px;
    height: 30px;
    margin: -7px 0 0 -45px;
    text-align: center;
}
.loading-content {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 170px;
    height: 170px;
    margin: -85px 0 0 -85px;
}
.loading-content:after {
    content: "";
    position: absolute;
    left: 15px;
    right: 15px;
    top: 15px;
    bottom: 15px;
}
.loading-content:before {
    content: "";
    position: absolute;
    left: 5px;
    right: 5px;
    top: 5px;
    bottom: 5px;
}
.loading-content {
    border: 3px solid transparent;
    border-radius: 50%;
    -webkit-animation: loader 2s linear infinite;
    -moz-animation: loader 2s linear infinite;
    -o-animation: loader 2s linear infinite;
    animation: loader 2s linear infinite;
}
.loading-content:before {
    border: 3px solid transparent;
    border-radius: 50%;
    -webkit-animation: loader 3s linear infinite;
    -moz-animation: loader 2s linear infinite;
    -o-animation: loader 2s linear infinite;
    animation: loader 3s linear infinite;
}
.loading-content:after {
    border: 3px solid transparent;
    border-radius: 50%;
    -webkit-animation: loader 1.5s linear infinite;
    animation: loader 1.5s linear infinite;
    -moz-animation: loader 2s linear infinite;
    -o-animation: loader 2s linear infinite;
}
@-webkit-keyframes loaders {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes loader {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


.pizza-form{
    width: 800px !important;
}

.overlay-close-pizza{
    right: 100px !important;
}

select:required:invalid {
    color: gray;
}
option[value=""][disabled] {
    display: none;
}
option {
    color: black;
}

.pizza-image{
    float: right;
    margin: auto;
}

.pizza-title-name{
    font-family: 'IBM Plex Serif', serif;
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 5px;
    text-transform: capitalize;
}

.edit-pizza-btn{
    width: 50% !important;
}

.disable-btn{
    pointer-events: none;
    opacity: 0.7;
}

.block-price{
    float: left;
    font-weight: bolder;
    margin-top: 4px;
}


.add-cart{
    float: right;
    display: block;
    color: #f27307 !important;
    background-color: #fff !important;
    border: 2px solid #f27307 !important;
    border-radius: 20px;
    margin-top: -6px;

}

.add-cart:hover{
    transition: all .3s ease-in-out !important;
    color: #fff !important;
    background-color: #f27307 !important;
    border-color: #fff !important;

}

.navBar a{
    display: inline-block;
    background-color: #f27307;
    color: #fff;
    padding: 9px 30px 8px;
    font-weight: 600;
    font-size: 14px;
    border-radius: 10px;
}

.profile-cart{
    float: right !important;
    margin: -5px 8px !important;
}

.pizza-title-name{
    font-family: 'IBM Plex Serif', serif;
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 5px;
    text-transform: capitalize;
}

.pizza-image {
    float: right;
    margin: auto;
}

.block-price {
    float: left;
    font-weight: bolder;
    margin-top: 4px;
}

#cart-counter{
    font-size: 18px;
    font-weight: bold;
}

.cart-block{
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.item-image{
    width: 100px;
    float: left;
    margin-left: 50px;
}

.align-right{
    text-align: right;
    padding: 15px;
    margin-right: 103px;
}

.align-right .one{
    font-weight: bold;
}

.align-right .two{
    font-weight: bold;
    font-size: 20px;
    color: #f27307;
}

.delivery-details{
    font-size: 16px;
    margin: 10px 0px 10px 5px;
    border: 2px solid #000;
    border-radius: 7px;
    padding: 5px 20px;
    width: 30%;
}

.flex-items{
    display: flex;
    align-items: center;
    justify-content: end;
    width: 90%;
    margin: 10px 0px;
}

.flex-items h1{
    font-weight: bold;
    margin-left: 10px;
    font-size: 20px;
}

.flex-grow{
    flex-grow: 0.5;
    font-weight: bold;
}

.order-now{
    background: #f27307;
    color: #fff;
    padding: 10px;
    font-weight: bold;
    border: 2px solid #f27307;
    border-radius: 10px;
    cursor: pointer;
}

.order-now:hover{
    background-color: #b23301;
}

.all-orders{
    text-align: center;
}

.all-orders h1 {
    font-weight: bold;
    font-size: 20px;
}

.ordered-items{
    display: flex;
}

.float-left{
    float: left;
    margin-left: 20px;
}

.float-right{
    float: right;
    margin-right: 20px;
}

.orders-dashboard{
    position: relative;
    width: 100%;
    display: inline-block;
    vertical-align: top;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

table.datatable{
    width: 100%;
    margin: 0 auto;
    clear: both;
    border-collapse: separate;
    border-spacing: 0;
}

table.dataTable tbody tr, .orders-dashboard{
    background-color: #fff;
    border: 1px solid #e9e9ef;
}
.orders-dashboard{
    box-shadow: 0px 0px 20px #e9e9ef;
}
.datatable-action .add-entity, .dataTables_wrapper .dataTables_filter input,
.dataTables_wrapper .dataTables_length select{
  color: #232323;
  background-color: #efefef;
}
.dataTables_length label select {
    min-width: 65px;
    width: auto !important;
    -webkit-appearance: auto !important;
    border: none !important;
}
.dataTables_filter .entity-title, .dataTables_wrapper .dataTables_filter input {
    border-radius: 4px !important;
    padding: 14px !important;
    margin-bottom: 10px !important;
    width: 290px !important;
    border: 2px solid transparent !important;
}

.dataTables_wrapper .dataTables_filter {
    float: right;
    text-align: right;
}

.show-order{
    cursor: pointer;
}

.show-order:hover{
    color: #f27307;
}

.order-id{
    text-align: center;
    color: #f27307;
    margin-top: -55px;
}


.status-box{
    background: #fff;
}

.status-box ul{
    list-style: none;
    font-size: 20px;
    margin-left: 200px;
    line-height: 4.4em;
}

.status-box ul li span{
    position: relative;
    padding-left: 20px;
}

.status-box ul li span:after{
    content: '';
    position: absolute;
    left: -10px;
    top: 50%;
    background: #232323;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    transform: translateY(-50%);
    box-shadow: 0 0 1px 10px #fff;
}

/* Icons */

.status-box ul li span:before{
    
    font-family: 'Line Awesome Free';
    font-size: 46px;
    font-weight: 600;
    position: absolute;
    left: -95px;
    top: 50%;
    transform: translateY(-52%);
    color: inherit;
}

.status-box ul li:nth-child(1) span:before {
    content: "\f46c";
}

.status-box ul li:nth-child(2) span:before {
    content: "\f560";
}

.status-box ul li:nth-child(3) span:before {
    content: "\f818";
}

.status-box ul li:nth-child(4) span:before {
    content: "\f0d1";
}

.status-box ul li:nth-child(5) span:before {
    content: "\f59a";
}

.status-box ul li{
    position: relative;
}

.status-box ul li:before{
    content: '';
    position: absolute;
    top: 0;
    left: -6px;
    width: 2px;
    height: 100%;
    background: #000;
    margin-top: 30px;
}

.status-box ul li:last-child:after{
    content: '';
    position: absolute;
    top: 0;
    left: -6px;
    width: 2px;
    height: 100%;
    background: #fff;
    margin-top: 50px;
}

.status-box ul li.step-completed:before{
    background: #d6d3d3;
}

.status-box ul li.step-completed span:after{
    background: #d6d3d3;
}

.status-box ul li.step-completed span{
    color: #d6d3d3;
}

.status-box ul li.current span{
    color: #e8712d;
}

.status-box ul li.current span:after{
    background: #e8712d;
}


.status-box ul li small {
    float: right;
    font-size: 14px;
    margin-right: 145px;
}

.payment-type{
    color: #000;
    height: 43px;
    background-color: #fff;
    padding-left: 15px;
    margin-left: -25px !important;
    -webkit-appearance: auto !important;
}

.select-pizza{
    -webkit-appearance: auto !important;
}

.StripeElement {
    box-sizing: border-box;
    width: 30%;
    margin-left: auto;
    height: 40px;
    padding: 10px 12px;
    margin-bottom: 20px;
    border: 2px solid #000;
    border-radius: 7px;
    background-color: white;

    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
  }

  .StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
  }

  .StripeElement--invalid {
    border-color: #fa755a;
  }

  .StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
  }
