<!DOCTYPE html>
<html>
    <head>
        <title>Pizza Hut</title>
        
        <link rel="shortcut icon" href="/images/site/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/images/site/favicon.ico" type="image/x-icon">
       
       
        <meta name="viewport" content="width=device-width, initial-scale=1">
    
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,600;1,400;1,600&family=IBM+Plex+Serif:ital,wght@0,400;0,700;1,400;1,600&display=swap" rel="stylesheet">
       
        <link rel="stylesheet" type="text/css" href="/css/login_style.css">
        <link rel="stylesheet" type="text/css" href="/css/lib/intro.min.css">
    </head>
    <body>
      
        <div class="headerWrap">
            <div class="sectionBox">
                <a href='/' class="logo-main">
                    <img src="/images/site/logo.png" srcset="/images/site/logo@2x.png 2x">
                </a>
                <div class="nav index-page">
                    <a class="link-login js-login" href="/login">Log In</a>
                    <a class="link-signup js-signup" href="/signup">Sign Up</a> &nbsp;
                </div>
                {{!-- <div class="navBar"> --}}
                    {{!-- <a class="link-login js-login" href="/login">Log In</a>
                    <a class="link-signup js-signup" href="/signup">Sign Up</a> &nbsp; --}}
                    {{!-- <a class="link-cart cart js-cart" href="/cart"> --}}
                    {{!-- <span id="cart-counter">0</span> --}}
                    {{!-- <img src="../../images/app/cart.png" alt="cart"></a> --}}
                {{!-- </div> --}}
                {{!-- <nav>
                    <ul>
                        <li><a class="link-login js-login" href="/login">Log In</a></li>
                        <li><a class="link-signup js-signup" href="/signup">Sign Up</a></li>
                        <li><a class="cart" href="#"><img src="../../images/app/cart.png" alt="cart"></a></li>
                    </ul>
                </nav> --}}
            </div>
        </div>
      
        <div class="aboutWrap">
            <div class="sectionBox">
                <span>Are you hungry?</span>
                <p class="about-tagline animate-reveal animate-first">Don't wait !</p>
                <a href="/pizzas" class="btn-order order-now">Order Now</a>
            </div>
        </div>
       
        <div class="featuresWrap">
            <div class="sectionBox">
                <div class="feature-card card-full animate-reveal animate-third">
                    <div class="card-one feature-social">
                        <div class="card-content">
                            <div class="card-title">PIZZA A</div>
                            <div class="card-text">
                                <a href="/login">Add to cart</a>
                            </div>
                        </div>
                        <div class="card-illustration"></div>
                    </div>
                    <div class="card-one feature-privacy">
                        <div class="card-content">
                            <div class="card-title">PIZZA B</div>
                           <div class="card-text">
                                <a href="/login">Add to cart</a>
                            </div>
                        </div>
                        <div class="card-illustration"></div>
                    </div>
                    
                </div>
                <div class="feature-card animate-reveal animate-fourth">
                    <div class="card-one feature-social">
                        <div class="card-content">
                            <div class="card-title">PIZZA A</div>
                            <div class="card-text">
                                <a href="/login">Add to cart</a>
                            </div>
                        </div>
                        <div class="card-illustration"></div>
                    </div>
                    <div class="card-one feature-privacy">
                        <div class="card-content">
                            <div class="card-title">PIZZA B</div>
                            <div class="card-text">
                                <a href="/login">Add to cart</a>
                            </div>
                        </div>
                        <div class="card-illustration"></div>
                    </div>
                </div>
                <div class="feature-card card-full animate-reveal animate-fifth">
                      <div class="card-one feature-social">
                        <div class="card-content">
                            <div class="card-title">PIZZA A</div>
                            <div class="card-text">
                                <a href="/login">Add to cart</a>
                            </div>
                        </div>
                        <div class="card-illustration"></div>
                    </div>
                    <div class="card-one feature-privacy">
                        <div class="card-content">
                            <div class="card-title">PIZZA B</div>
                            <div class="card-text">
                                <a href="/login">Add to cart</a>
                            </div>
                        </div>
                        <div class="card-illustration"></div>
                    </div>
                </div>
            </div>
        </div>
       
        <div class="footer">
            <div class="sectionBox">
                <p class="footer-made">
                    <a href="/">
                        <img src="/images/site/logo.png">
                        <span>A product by PIZZA HUT</span>
                    </a>
                </p>
                <p class="footer-links">
                    <a href="/login" class="js-login">Log In</a>
                    <a href="/signup" class="js-signup">Sign Up</a>
                </p>
            </div>
        </div>
   
        <div class="overlay"></div>
     
        <script type="text/javascript" src="/js/lib/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="/js/lib/underscore/underscore.min.js"></script>
        <script type="text/javascript" src="/js/lib/backbone/backbone.min.js"></script>
        <script type="text/javascript" src="/js/lib/marionette/backbone.marionette.min.js"></script>
        <script type="text/javascript" src="/js/lib/handlebars/handlebars.min.js"></script>
        <script type="text/javascript" src="/js/lib/validator/validator.min.js"></script>
        <script type="text/javascript" src="/js/lib/intro/intro.min.js"></script>
        <script type="text/javascript" src="/js/loadTemplate.js"></script>
        <script type="text/javascript" src="/js/authManager.js"></script>
        <script type="text/javascript">
            AccountManager.start();
        </script>
    </body>
</html>
