<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Not Found | Pizza Hut</title>
    <style>
        .container-left{
            padding: 100px 0px 100px 50px;
            width: 49.99999%;
            min-width: 680px;
        }
        .container-left p{
            font-size: 16px;
            opacity: 0.7;
        }
        .container-right{
            float: right;
            margin-top: -298px;
            margin-right: 45px;
        }
    </style>
</head>
<body>
    <div class="container-left">
        <h2>Oops something went wrong!</h2>
        <h1>We are working on it.</h1>
        <p>Please try after sometime.</p>
    </div>
    <div class="container-right">
        <img src="../../images/Internal-Server-Error.jpg" alt="internal-server-error">
    </div>
</body>
</html>