<!DOCTYPE html>
<html>
    <head>
        <title>Pizza Hut: Cart</title>
        
        <link rel="shortcut icon" href="/images/site/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/images/site/favicon.ico" type="image/x-icon">
        
        
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,600;1,400;1,600&family=IBM+Plex+Serif:ital,wght@0,400;0,700;1,400;1,600&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,600;1,400;1,600&family=Work+Sans:ital,wght@0,400;0,600;1,400;1,600&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
        
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <link rel="stylesheet" type="text/css" href="/css/app_style.css">
    </head>
    <body>
        <div class="pageWrap" data-user="{{userid}}" data-type="{{type}}" data-uniqueid="{{email}}" >
            <!-- Header area -->
            <div class="headerWrap">
                <div class="sectionBox">
                    <a href='/' class="logo-main"></a>
                    
                    <!-- Profile Btn -->
                    <div class="navProfile user-profile">
                            <span class="profile-btn profile-initials js-more">{{initials}}</span>
                    </div>
                
                   
                    <div class="navMore">
                        <a href="/customer/orders">My Orders</a>
                        <a class="js-logout" href='/site/logout'>Logout</a>
                    </div>

                        <div class="navBar profile-cart">
                            <a class="link-cart cart js-cart" href="/cart">
                            <span id="cart-counter">0</span>
                            <img src="../../images/app/cart.png" alt="cart"></a>
                        </div>
                </div>
            </div>
            <!-- Main area -->
            <div class="mainWrap">
                <div class="mainHeader">
                </div>
                <div class="mainContent">
                </div>
            </div>
        </div>
        <!-- Overlay window -->
        <div class="overlay"></div>
        <!-- Feed window -->
        <div class="feedWrap"></div>
        <!-- Sidebar window -->
        <div class="sidebarWrap"></div>
        <!-- Scripts -->
        <script type="text/javascript" src="https://js.stripe.com/v3/"></script>
        <script type="text/javascript" src="/js/lib/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="/js/lib/underscore/underscore.min.js"></script>
        <script type="text/javascript" src="/js/lib/backbone/backbone.min.js"></script>
        <script type="text/javascript" src="/js/lib/marionette/backbone.marionette.min.js"></script>
        <script type="text/javascript" src="/js/lib/handlebars/handlebars.min.js"></script>
        <script type="text/javascript" src="/js/loadTemplate.js"></script>
        <script type="text/javascript" src="/js/lib/swag/swag.min.js"></script>
        <script type="text/javascript" src="/js/cartApp.js"></script>
        <script type="text/javascript">
            Swag.registerHelpers(window.Handlebars);
            CartManager.start();
        </script>
    </body>
</html>
