<!DOCTYPE html>
<html>
    <head>
        <title>FramerSpace: Certificate</title>
        <!-- Favicon -->
        <link rel="shortcut icon" href="/images/site/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/images/site/favicon.ico" type="image/x-icon">
        <!-- Apple meta -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <link rel="apple-touch-icon-precomposed" href="/images/site/apple-touch-icon.png">
        <!-- Responsive meta tags -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Fonts -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,600;1,400;1,600&family=IBM+Plex+Serif:ital,wght@0,400;0,700;1,400;1,600&display=swap" rel="stylesheet">
        <!-- Styles -->
        <link rel="stylesheet" type="text/css" href="/css/certificate_style.css">
    </head>
    <body>
        <div class="pageWrap">
            <!-- Certificate area -->
            <div class="certificateWrap">
                <div class="logosWrap">
                    <img src="https://mgiep.unesco.org/images/site/logo-dark@2x.png" class="mgiep-logo"/>
                    <img src="https://framerspace.com/images/site/logo-dark@2x.png" class="fs-logo"/>
                </div>
                <div class="headerWrap">Certificate of Completion</div>
                <div class="contentWrap">
                    <p class="date"></p>
                    <p class="name">{{name}}</p>
                    <p class="text">has successfully completed</p>
                    <p class="course">{{course}}</p>
                    <p class="about">an online course offered through <b>FramerSpace</b></p>
                </div>
                <div class="signatureWrap">
                    <p class="director">Dr. Anantha Kumar Duraiappah</p>
                    <p class="designation">Director, UNESCO MGIEP</p>
                </div>
            </div>
        </div>
        <!-- Scripts -->
        <script type="text/javascript" src="/js/lib/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="/js/lib/printThis/printThis.min.js"></script>
        <script type="text/javascript" src="/js/certificate.js"></script>
    </body>
</html>
