<div class="orders-dashboard">
    <table id="orderDatatable" class="stripe dt-responsive" style="width: 100%;">
            <thead>
                <tr>
                    <th class="dt-head-center dt-index">Sr.No</th>
                    <th class="dt-head-left order-dt-orders">Order ID</th>
                    <th class="dt-head-left order-dt-name">Customer Name</th>
                    <th class="dt-head-left order-dt-address">Address</th>
                    <th class="dt-head-left order-dt-status">Status</th>
                    <th class="dt-head-left order-dt-time">Placed at</th>
                </tr>
            </thead>
    </table>
</div>