<div class="overlay-box animation-box">
    <div class="overlay-form">
        {{!- Wave animation}}
        <div class="wave u-hide">
            <div class="wave-ocean">
                <div class="ocean-part"></div>
                <div class="ocean-part"></div>
            </div>
        </div>
        {{!- Breathing animation}}
        <div class="breathing u-hide">
            <div class="orb orb-1"></div>
        </div>
        {{!- Water animation}}
        <div class="water u-hide">
            <div class="water-box">
                <div class='water-wave water-wave-one'></div>
                <div class='water-wave water-wave-two'></div>
                <div class='water-wave water-wave-three'></div>
            </div>
        </div>
    </div>
    <a class="overlay-close js-close" href="#"></a>
</div>
