<div class="overlay-box block-theme-box">
    <div class="overlay-form">
        <h2 class="message">Edit theme:</h2>
        <form method="post" action="https://chibuzz-uploads.s3.amazonaws.com/" enctype="multipart/form-data" class="art-upload">
            <div id="drop-art" class="drop-area drop-area-small">
                <span>Add illustration</span>
                <input type="hidden" name="key">
                <input type="hidden" name="AWSAccessKeyId" value="AKIAIT3BY3EDOZPAPDEQ">
                <input type="hidden" name="acl" value="public-read">
                <input type="hidden" name="policy">
                <input type="hidden" name="signature">
                <input type="hidden" name="success-action-status" value="201">
                <input type="hidden" name="Content-Type">
                <input type="file" name="file" class="file-input">
            </div>
        </form>
        {{#if art}}
            <div class="form-btn remove-art js-remove-art">Remove art</div>
        {{/if}}
        <p class="overlay-label">Block size:</p>
        <input placeholder="Block width in percentage (default is 100)" type="text" autocomplete="off" class="block-width entity-title">
        <input placeholder="Right margin in pixels (default is 0)" type="text" autocomplete="off" class="block-margin entity-title">
        <div class="entity-btn save-theme js-save-theme">Save theme</div>
    </div>
    <div class="overlay-about">
        <div class="block-themes">
            <div class="one-theme theme-a" data-theme="theme-a"></div>
            <div class="one-theme theme-b" data-theme="theme-b"></div>
            <div class="one-theme theme-c" data-theme="theme-c"></div>
            <div class="one-theme theme-d" data-theme="theme-d"></div>
            <div class="one-theme theme-e" data-theme="theme-e"></div>
            <div class="one-theme theme-f" data-theme="theme-f"></div>
            <div class="one-theme theme-g" data-theme="theme-g"></div>
            <div class="one-theme theme-h" data-theme="theme-h"></div>
        </div>
    </div>
    <a class="overlay-close js-close" href="#"></a>
</div>
