<div class="container-block">
    <p class="block-title">{{title}}</p>
    <p class="block-text">{{size}}</p>
    {{#if image}}
        <div class="comic-image"><img src="../images/site/{{image}}" alt="pizza-image"></div>
    {{/if}}
    <p class="block-title">{{price}}</p>
</div>
 <div class="block-actions">
        <span class="action-edit-block js-edit-block" title="Edit"></span>
</div>