<div class="chat-header">
    <span>{{user.name}} + {{creator.name}}</span>
    <a class="back-btn js-back" href="#" title="Back to all messages"></a>
    <a class="delete-btn js-delete" href="#" title="Delete this message"></a>
</div>
<div class="all-chats"></div>
<div class="new-chat">
    <textarea class="new-chat-text" placeholder="Type a message" rows="1"></textarea>
</div>
