<div class="overlay-box insight-box">
    <div class="overlay-form">
        <h2 class="message">Enrolled courses:</h2>
        <div class="insight-users">
            <p class="entity-btn js-enrolled-courses">You are enrolled in <span></span> courses. Click on course title to view details.</p>
            <div class="overlay-table-header">
                <div class="insight-row">
                    <p>Title</p><p>Progress</p>
                </div>
            </div>
            <div class="overlay-table"></div>
        </div>
    </div>
    <a class="overlay-close js-close" href="#"></a>
</div>
