<div class="public-courses u-hide">
    <p class="header-title">Courses</p>
    <p class="header-desc">Explore all our popular courses.</p>
    <!-- Add course -->
    <a class="add-entity js-add-course" href="#">+ Add Pizza</a>
</div>
{{!-- <div class="draft-courses u-hide">
    <p class="header-title">Draft Courses</p>
    <p class="header-desc">Working on a new course? Find it here.</p>
    <!-- Add course -->
    <a class="add-entity js-add-course" href="#">+ New course</a>
</div>
<div class="archived-courses u-hide">
    <p class="header-title">Archived Courses</p>
    <p class="header-desc">Find all your archived courses here.</p>
</div> --}}
