<p class="title">{{title}}</p>
<p class="insight-progress">
    <span class="one-progress progress-start" title="Started"></span>
    {{#and learners.0.containers learners.0.containers.length}}
        {{#each learners.0.containers}}
            <span class="one-progress progress-container" title="{{title}}"></span>
        {{/each}}
    {{/and}}
    {{#is learners.0.progress 'completed'}}
        <span class="one-progress progress-end" title="Completed"></span>
    {{else}}{{#is learners.0.progress 'certified'}}
        <span class="one-progress progress-end progress-certified" title="Certified"></span>
    {{/is}}{{/is}}
</p>
