<div class="sidebar-box minimap-box">
    <div class="sidebar-header">
        <h2 class="message">Minimap:</h2>
    </div>
    <div class="sidebar-content">
        <div class="minimap-blocks">
        </div>
    </div>
</div>
