<div class="overlay-box new-cohort-box">
    <div class="overlay-form">
        <h2 class="message">Add new cohort:</h2>
        <p class="u-formError"></p>
        <input placeholder="Cohort name*" type="text" autocomplete="off" class="cohort-title entity-title">
        <div class="entity-btn save-cohort js-save">Save cohort</div>
    </div>
    <a class="overlay-close js-close" href="#"></a>
</div>
