<div class="pizza-content">
    <p class="pizza-title-name">{{title}}</p>
    {{!-- <p class="pizza-size">{{size}}</p>
    <p class="pizza-price">{{price}}</p> --}}
</div>
{{#if image}}
<div class="pizza-image">
    <img src="../images/site/{{image}}" alt="pizza image" height="200px">
</div>
{{/if}}

{{!-- <h1>Pizza</h1> --}}