<div class="admin-view u-hide">
    <p class="header-title">Pizza Hut</p>
    <p class="header-desc">Explore all your taste buds with us.Admin</p>
    <!-- Add pizza -->
    <a class="add-entity js-add-pizza" href="#">+ Add Pizza</a>
</div>
<div class="public-view u-hide">
    <p class="header-title">Pizza Hut</p>
    <p class="header-desc">Explore all your taste buds with us.</p>
     <a class="add-entity js-add-pizza" href="#">+ Add Pizza</a>
</div>