
    <section class="status">
       <div class="status-box">
                <div class="order-id">
                    <h6>Order ID: {{_id}}</h6>
                </div>
                <input class="order-input" id="order-input" type="hidden" value="">
                <hr>
                <ul>
                    <li class="status_line" data-status="order_placed"><span>Order Placed</span></li>
                    <li class="status_line" data-status="confirmed"><span>Order Confirmed</span></li>
                    <li class="status_line" data-status="prepared"><span>Preparation</span></li>
                    <li class="status_line" data-status="delivered"><span>Out for delivery</span></li>
                    <li class="status_line" data-status="completed"><span>Complete</span></li>
                </ul>
       </div>
    </section>
