<div class="overlay-box terms-box">
    <div class="overlay-form">
        <h2 class="message js-title">Terms and Data Policy<span></span></h2>
        <div class="terms-text">
            <p>The undersigned confirms that I am the parent/tutor/ legal guardian of a minor (The Learner) who intends to access and use the MGIEP Learning Platform.</p>
            <p>I confirm that I am invested with the necessary legal authority to represent The Learner and hereby consent on his/her behalf to the privacy guidelines governing The Learner’s data when accessing and using the MGIEP Learning Platform.</p>
            <p>In particular I understand that the following data will be collected:</p>
            <ul>
                <li>Gender</li>
                <li>Country of Residence (province or state as applicable)</li>
                <li>Nationality</li>
                <li>Class/grade</li>
                <li>Age</li>
                <li>Language (mother tongue and other languages with proficiency levels)</li>
                <li>Academic Organization/School</li>
                <li>Ethnicity</li>
                <li>Household Income</li>
                <li>Number of Siblings</li>
            </ul>
            <p>I also understand that the data will be completely anonymized upon collection ( not just pseudonymized).</p>
            <p><b>Once registered as a user a personal passcode will be provided - only known to The Learner.</b></p>
            <p>I have furthermore noted that data will only be retained during the learning process and under no circumstances saved for later use or analysis and that it will not be shared with third parties for research or commercial reasons.</p>
            <p>My consent is strictly limited to the collection and processing of data in accordance with the above.</p>
        </div>
    </div>
    <a class="overlay-close js-close" href="#"></a>
</div>
