<div class="overlay-box course-members-box">
    <div class="overlay-form">
        <h2 class="message">Invite users:</h2>
        <div class="user-list"></div>
        <div class="entity-done js-done">Done</div>
    </div>
    <div class="overlay-about">
        <div class="users-data">
            <p class="overlay-label"><span></span> invitations</p>
        </div>
    </div>
    <a class="overlay-close js-close" href="#"></a>
</div>
